/* =================================
  Universal Styles
==================================== */

/* ---- Universal ---- */

* {
  border-box: box-sizing;
  font-family: 'Raleway', sans-serif;
}

/* ---- Debug ---- */

* {
  /*outline: 1px solid black;*/
}

.container {
  /*outline: 1px solid cyan;*/
}

.row {
    /*outline: 1px solid red;*/
}

.box {
    /*outline: 1px solid magenta;*/
}





/* =================================
  Layout
==================================== */

body {
  position: relative;
  z-index: -2
}

.content {
  position: relative;
  z-index: -1000;
  margin-top: 90vh;
}

.vcenter {
  margin: auto;
}

.right {
  display: flex;
  justify-content: flex-end;
}





/* =================================
  Hero
==================================== */

/* ---- Hero Content ---- */

.hero {
  position: absolute;
  z-index: 1;

  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  /*background: white;*/
  /*background: -webkit-gradient(linear, left top, right top, from(#4098FF), to(#6BE0A8));*/

  display: flex;
  align-items: center;

  padding-top: 3rem;
}

.img-container {
  margin-top: 4rem;
  margin-bottom: -10rem;
}

.hero-img {
  background-image: url('../assets/body-content-3.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 600px;
}





/* ---- Navigation Bar ---- */

.navigation-bar {
  background: white;
  position: fixed;
  z-index: 1000;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .5rem;
  margin: 0 auto;
  transition: all .25s ease-out;
  border-bottom: 1px solid #EBEBEB;
}

/* ---- Logo ---- */

.slack-logo {
  height: 60px;
  transition: opacity .25s ease-out;
}

.slack-logo:hover {
  opacity: .75;
}

/* ---- Navigation Items ---- */

.navigation-items ul {
  display: inline-flex;
  list-style-type: none;
  margin-right: 2rem;
}

.navigation-items ul li:not(:last-child) {
  color: #3F46AF;
  margin-right: 2rem;
  padding-right: 1rem;
}

.navigation-items a {
  color: #6D6F7B;
  font-size: 1rem;
  text-decoration: none;
  transition: color .25s ease;
}
.navigation-items a:hover {
  color: #3F46AF;
}






/* =================================
  Content
==================================== */

/* ---- Links ---- */

.divider {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E0E2E7;
}

.link {
  display: flex;
  color: #1c299d;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  transition: opacity .25s ease-out;
  cursor: pointer;
  margin-top: 1rem;
  text-decoration: underline;
}

.link:hover {
  opacity: .75;
}

.icon-img {
  background-image: url('../assets/arrow-right-2.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 1rem;
  width: 1.25rem;
  margin-left: .5rem;
  transition: all .5s ease-out;
}

.icon-img:hover {
  transform: translateX(8px);
}

.link-arrow {
  display: flex;
}

/* ---- Images ---- */

.content-img {
  background-image: url('../assets/body-content.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  margin: 6rem auto 0;
}

.content-img-2 {
  background-image: url('../assets/body-content-2.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  margin: 0 auto 6rem;
}

.content-img-3 {
  background-image: url('../assets/body-content-4.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  width: 600px;
  margin: 6rem auto 0;
}

.content-img-4 {
  background-image: url('../assets/enterprise_grid_logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100px;
  height: 70px;
  margin: 0 auto;
}

.content-img-5 {
  background-image: url('../assets/slack-footer.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 48px;
  height: 48px;
}





/* ---- Trial ---- */

.trial {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  padding-top: 2rem;
  padding-bottom: 2rem;
}





/* ---- Footer ---- */

.footer-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-section li {
  padding-bottom: 1rem;
  text-align: left;
  text-decoration: none;
}

.footer-section a {
  text-decoration: none;
  color: #6d6f7b;
  font-size: .875rem;
  transition: color .25s ease-out;
}

.footer-section a:hover {
  color: #3F46AD;
}





/* =================================
  jQuery Styling
==================================== */

.is-sticky .navigation-bar {
  background: white;
  /*box-shadow: 0 10px 20px rgba(35, 41, 51, 0.1);*/
  width: 100vw;
  left: 0;
  z-index: 1000;
}

/* ---- Hero Content ---- */
